# Dependencies
node_modules/

# VitePress build & cache
config/.vitepress/dist/
config/.vitepress/cache/
!/config/.vitepress/config.mts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db